In [256]:
import pandas as pd
import re
import numpy as np

In [257]:
filename = '/Users/mac/Desktop/MLT/alice.txt'
with open(filename, encoding='utf-8') as f:
    alice_in_wonderland = f.read()
alice_in_wonderland[:100]

'\ufeffThe Project Gutenberg eBook of Alice’s Adventures in Wonderland, by Lewis Carroll\n\nThis eBook is fo'

In [258]:
textfile = alice_in_wonderland.split('CHAPTER I.')[2]
textfile = textfile.split('THE END')[0]
textfile[:100]

'\nDown the Rabbit-Hole\n\n\nAlice was beginning to get very tired of sitting by her sister on the\nbank, '

In [259]:
from nltk.tokenize import TreebankWordTokenizer, WhitespaceTokenizer    
from nltk.corpus import stopwords
import nltk
from nltk.stem import PorterStemmer, WordNetLemmatizer

nltk.download("wordnet")
nltk.download('stopwords')
stop_words = stopwords.words("english")

lemmatizer = WordNetLemmatizer()
stemmer = PorterStemmer()

[nltk_data] Downloading package wordnet to /Users/mac/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/mac/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [260]:
def preprocess(input_text):
    lower_input = input_text.lower()
    lower_input = re.sub(r"won\'t", "will not", lower_input)
    lower_input = re.sub(r"can\'t", "can not", lower_input)
    lower_input = re.sub(r"\'re", " are", lower_input)
    lower_input = re.sub(r"\'s", " is", lower_input)
    lower_input = re.sub(r"\'d", " would", lower_input)
    lower_input = re.sub(r"\'ll", " will", lower_input)
    lower_input = re.sub(r"\'t|n\'t", " not", lower_input)
    lower_input = re.sub(r"\'ve", " have", lower_input)
    lower_input = re.sub(r"\'m", " am", lower_input)
    lower_input = re.sub(r"[^\w\s]|_", "", lower_input)
    words = lower_input.split()
    stop_words = set(stopwords.words('english'))
    words_after_sw = [word for word in words if not word in stop_words]
    lemmatizer = WordNetLemmatizer()
    lemm_tokens = [lemmatizer.lemmatize(word) for word in words_after_sw]
    #"v" means verb
    lemm_tokens = [lemmatizer.lemmatize(word, "v") for word in words_after_sw]    
    result = " ".join(lemm_tokens) 
    return result

In [261]:
from sklearn.feature_extraction.text import TfidfVectorizer
chapters = textfile.split('CHAPTER ')
chapter_num = 1
chapter_list = []
for chapter in chapters:
    chapter = preprocess(chapter)
    chapter = re.sub(r'alice', '', chapter) 
    chapter_list.append(chapter)
chapter_list = np.array(chapter_list)

In [262]:
chapter_list[1]

'ii pool tear curiouser curiouser cry  much surprise moment quite forget speak good english im open like largest telescope ever goodbye feet look feet seem almost sight get far oh poor little feet wonder put shoe stock dears im sure shant able shall great deal far trouble must manage best way canbut must kind think  perhaps wont walk way want go let see ill give new pair boot every christmas go plan would manage must go carrier think funny itll seem send present ones feet odd directions look s right foot esq hearthrug near fender s love oh dear nonsense im talk head strike roof hall fact nine feet high take little golden key hurry garden door poor  much could lie one side look garden one eye get hopeless ever sit begin cry ought ashamed say  great girl like might well say go cry way stop moment tell go shed gallons tear large pool round four inch deep reach half hall time hear little patter feet distance hastily dry eye see come white rabbit return splendidly dress pair white kid gloves one hand large fan come trot along great hurry mutter come oh duchess duchess oh wont savage ive keep wait  felt desperate ready ask help one rabbit come near begin low timid voice please sir rabbit start violently drop white kid gloves fan skurried away darkness hard could go  take fan gloves hall hot keep fan time go talk dear dear queer everything today yesterday things go usual wonder ive change night let think get morning almost think remember feel little different im next question world ah thats great puzzle begin think children know age see could change im sure im ada say hair go long ringlets mine doesnt go ringlets im sure cant mabel know sort things oh know little besides shes im andoh dear puzzle ill try know things use know let see four time five twelve four time six thirteen four time seven isoh dear shall never get twenty rate however multiplication table doesnt signify let try geography london capital paris paris capital rome romeno thats wrong im certain must change mabel ill try say doth little cross hand lap say lessons begin repeat voice sound hoarse strange word come use doth little crocodile improve shin tail pour water nile every golden scale cheerfully seem grin neatly spread claw welcome little fish gently smile jaw im sure right word say poor  eye fill tear go must mabel shall go live poky little house next toy play oh ever many lessons learn ive make mind im mabel ill stay itll use put head say come dear shall look say tell first like person ill come ill stay till im somebody elsebut oh dear cry  sudden burst tear wish would put head tire alone say look hand surprise see put one rabbit little white kid gloves talk do think must grow small get go table measure find nearly could guess two feet high go shrink rapidly soon find cause fan hold drop hastily time avoid shrink away altogether narrow escape say  good deal frighten sudden change glad find still existence garden run speed back little door alas little door shut little golden key lie glass table things worse ever think poor child never small never declare bad say word foot slip another moment splash chin salt water first idea somehow fall sea case go back railway say  seaside life come general conclusion wherever go english coast find number bath machine sea children dig sand wooden spade row lodge house behind railway station however soon make pool tear weep nine feet high wish hadnt cry much say  swim try find way shall punish suppose drown tear queer thing sure however everything queer today hear something splash pool little way swim nearer make first think must walrus hippopotamus remember small soon make mouse slip like would use think  speak mouse everything outoftheway think likely talk rate theres harm try begin mouse know way pool tire swim mouse  think must right way speak mouse never do thing remember see brothers latin grammar mouseof mouseto mousea mouseo mouse mouse look rather inquisitively seem wink one little eye say nothing perhaps doesnt understand english think  daresay french mouse come william conqueror knowledge history  clear notion long ago anything happen begin où est chatte first sentence french lessonbook mouse give sudden leap water seem quiver fright oh beg pardon cry  hastily afraid hurt poor animals feel quite forget didnt like cat like cat cry mouse shrill passionate voice would like cat well perhaps say  soothe tone dont angry yet wish could show cat dinah think youd take fancy cat could see dear quiet thing  go half swim lazily pool sit purr nicely fire lick paw wash faceand nice soft thing nurseand shes capital one catch miceoh beg pardon cry  time mouse bristle felt certain must really offend wont talk youd rather indeed cry mouse tremble end tail would talk subject family always hat cat nasty low vulgar things dont let hear name wont indeed say  great hurry change subject conversation youare fondofof dog mouse answer  go eagerly nice little dog near house like show little brighteyed terrier know oh long curly brown hair itll fetch things throw itll sit beg dinner sort thingsi cant remember half themand belong farmer know say useful worth hundred pound say kill rat andoh dear cry  sorrowful tone im afraid ive offend mouse swim away hard could go make quite commotion pool go call softly mouse dear come back wont talk cat dog either dont like mouse hear turn round swim slowly back face quite pale passion  think say low tremble voice let us get shore ill tell history youll understand hate cat dog high time go pool get quite crowd bird animals fall duck dodo lory eaglet several curious creatures  lead way whole party swim shore'

In [263]:
#there are 12 chapters
chapter_list.shape

(12,)

In [264]:
num = list(range(1,13))
index = list(range(0,12))

In [265]:
texts = {'index': num, 'text': chapter_list}
text_pd = pd.DataFrame(data=texts, index=index)
text_pd

    index                                               text
0       1  rabbithole  begin get tire sit sister bank not...
1       2  ii pool tear curiouser curiouser cry  much sur...
2       3  iii caucusrace long tale indeed queerlooking p...
3       4  iv rabbit send little bill white rabbit trot s...
4       5  v advice caterpillar caterpillar  look time si...
5       6  vi pig pepper minute two stand look house wond...
6       7  vii mad teaparty table set tree front house ma...
7       8  viii queen croquetground large rosetree stand ...
8       9  ix mock turtle story cant think glad see dear ...
9      10  x lobster quadrille mock turtle sigh deeply dr...
10     11  xi steal tarts king queen hearts seat throne a...
11     12  xii s evidence cry  quite forget flurry moment...

In [266]:
vectorizer_tfidf = TfidfVectorizer(max_features=3000,stop_words='english')

In [267]:
vectorizer_tfidf.fit(text_pd["text"])

TfidfVectorizer(max_features=3000, stop_words='english')

In [268]:
def tfidf(text):
    response = vectorizer_tfidf.transform(text)
    feature_array = np.array(vectorizer_tfidf.get_feature_names_out())
    
    return response , feature_array

In [269]:
text_tfidf , feature_array = tfidf(text_pd["text"])
#text_tfidf = vectorizer_tfidf.transform(text_pd["text"])
     
tfidf_df = pd.DataFrame(text_tfidf.toarray(), columns=feature_array)  

tfidf_df.shape

(12, 1956)

In [270]:
most_frequent_word = tfidf_df.T
most_frequent_word

,0,1,2,3,4,5,6,7,8,9,10,11
abide,0.000000,0.000000,0.000000,0.000000,0.000000,0.022798,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
able,0.000000,0.032543,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
absence,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.020212,0.000000,0.000000,0.000000
absurd,0.000000,0.000000,0.026744,0.000000,0.000000,0.019580,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
acceptance,0.000000,0.000000,0.031141,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
youre,0.014070,0.000000,0.025310,0.011116,0.059245,0.046325,0.007645,0.000000,0.016428,0.007391,0.028252,0.010906
youth,0.000000,0.000000,0.000000,0.000000,0.145785,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
youve,0.000000,0.000000,0.000000,0.000000,0.015002,0.000000,0.000000,0.014299,0.000000,0.022458,0.014308,0.016570
zealand,0.034621,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
zigzag,0.000000,0.000000,0.000000,0.000000,0.024297,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [271]:
chapter_num = 1
index = list(range(1,11))
for i in most_frequent_word:
    most10 = most_frequent_word[:][i].nlargest(10)
    print("chapter%d"%(chapter_num))
    chapter_num +=1
    print(most10)
    print()

chapter1
think     0.229056
eat       0.213768
say       0.192889
little    0.180834
bat       0.178399
key       0.157590
fall      0.149638
like      0.132611
way       0.132611
door      0.125361
Name: 0, dtype: float64

chapter2
mouse     0.321500
say       0.215307
pool      0.197508
little    0.192643
im        0.171925
cat       0.160750
think     0.158648
swim      0.155119
dear      0.143051
fan       0.139742
Name: 1, dtype: float64

chapter3
say        0.433750
mouse      0.384560
dodo       0.320932
prize      0.186847
lory       0.160466
know       0.140969
dry        0.127230
thimble    0.124564
bird       0.115368
cause      0.106977
Name: 2, dtype: float64

chapter4
little    0.219068
window    0.218824
rabbit    0.198086
say       0.180969
grow      0.169353
fan       0.164438
puppy     0.164118
come      0.142870
bottle    0.140946
gloves    0.140946
Name: 3, dtype: float64

chapter5
say            0.482259
caterpillar    0.460823
pigeon         0.291569
serpent        0.218677
im             0.148111
egg            0.145785
youth          0.145785
size           0.115815
think          0.109989
father         0.104335
Name: 4, dtype: float64

chapter6
say        0.420752
cat        0.337845
footman    0.227984
baby       0.215375
duchess    0.197076
mad        0.190253
pig        0.176216
grin       0.155662
sneeze     0.138366
wow        0.136791
Name: 5, dtype: float64

chapter7
hatter      0.456682
say         0.451985
dormouse    0.420050
hare        0.269002
march       0.243921
twinkle     0.145402
time        0.111359
draw        0.102477
tea         0.099899
know        0.098258
Name: 6, dtype: float64

chapter8
queen          0.483085
say            0.379021
gardeners      0.185272
king           0.173467
look           0.169350
hedgehog       0.162113
soldier        0.158123
cat            0.157294
head           0.129028
executioner    0.115795
Name: 7, dtype: float64

chapter9
say        0.478602
turtle     0.414016
mock       0.398682
gryphon    0.275268
duchess    0.224643
moral      0.161700
queen      0.159533
think      0.098536
day        0.071079
dont       0.070383
Name: 8, dtype: float64

chapter10
turtle       0.427697
mock         0.386307
gryphon      0.383891
say          0.316633
dance        0.272792
beautiful    0.165560
soup         0.165560
lobster      0.127303
lobsters     0.127303
soooop       0.127303
Name: 9, dtype: float64

chapter11
king              0.410267
hatter            0.369182
say               0.338909
court             0.298522
dormouse          0.258719
witness           0.231733
queen             0.117580
officer           0.115866
begin             0.104900
breadandbutter    0.099507
Name: 10, dtype: float64

chapter12
say       0.476585
king      0.402025
jury      0.203591
dream     0.184380
write     0.165701
queen     0.151296
sister    0.138285
rabbit    0.111054
know      0.102793
white     0.102249
Name: 11, dtype: float64

In [272]:
from nltk import sent_tokenize
sentences = sent_tokenize(textfile)
sentences_with_alice = []
verbs = ''
for sentence in sentences:
    preprocess_text = preprocess(sentence)
    
    if 'alice' in preprocess_text:
        preprocess_text = re.sub(r'king', '', preprocess_text) 
        sentences_with_alice.append(preprocess_text)
    else:
        continue
for sentence in sentences_with_alice:
    s = nltk.pos_tag(sentence.split())
    for w in s:
        if 'VB' in w[1]:
            verbs += w[0] + ' '
        else:
            continue
response , feature_array = tfidf([verbs])

tfidf_ranking = np.argsort(response.toarray()).flatten()[::-1]
print("10 verbs most related to alice : ")
for i in feature_array[tfidf_ranking][:10]:
        print("%s "%(i))

10 verbs most related to alice :
say
think
know
come
make
begin
run
look
tell
happen